*{
	box-sizing: border-box;
}

h1{
	text-align: center;
	margin-bottom: 15px;
}

.row div{
	border: 1px solid black;
	margin: 10px;
	background-color: gray;
}

p{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
	clear: right;
}

section{
	float: right;
	padding: 5px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.p1{
	background-color: #A52A2A;
}

.p2{
	background-color: #2A2AA5;
}

.p3{
	background-color: #2AA52A;
}

.row{
	width: 100%;
}

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 30.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-1{
		width: 47%;
		float: left;
	}
	.col-md-2{
		width: 47%;
		float: right;
	}
	.col-md-3{
		width: 98%;
		clear: right;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		float: left;
		width: 97%;
	}
}