body{
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img{
	background-image: url("lavanya.jpg");
	width: 150px;
	height: 84px;
	margin: 10px 15px 10px 0px;
}